.ui-grid-b {
    height:200px;
}

.ui-block-a,
.ui-block-b,
.ui-block-c {
    height:200px;
}

.event-title {
    border: 1px solid;
    display: inline;
    position: relative;
    top: 50px;
    padding:5px;
    font-weight:bold;
    background-color:#fff;
}
